.profile-card{
    background-color: rgba(0, 0, 0, 0.482);
    width: auto;
    max-width: 95%;
    border-radius: 15px;
    margin-left: 3em;
    margin-right: 3em;
}
.about-box{
  /* width: 1000px; */
}
.outer-box{
    display: flex;
    max-width: 500px;
    justify-content: center;
    border: 1px solid red;
    border-radius: 15px;
}
.profile-image{
    border-radius: 50%;
    margin: 10px;
}
.title{
    text-align: end;
    margin-right: 3em;
    font-size: 25px;
}
.title2{
    font-size: 25px;
}
.team{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
  }
  .title-intro{
    text-align: center;
    font-size: 75px;
  }
  .intro-text{
    text-align: center;
  }
  .dev-outer-div{
    /* max-height: 10em; */
    /* height: 500px; */
    flex-direction: column;

  }

  @media(min-width: 320px) and (max-width: 680px) {
    .about-box{
      display:flex;
      justify-content: center;
      width:20px;
      max-height:20px;
    }
    .team-box{
      display:flex;
      justify-content: center;
      margin-left:41px;
      margin-right:60px;
    }
    .profile-card{
      display:flex;
      /* height:200px; */
      width:300px;
      margin-left: 34px;
      margin-right: 40px;
      height: auto;
      padding: 5px;

    }
    .profile-image{
      display:flex;
      width:150px;
    }
    .text-box{
      display:flex;
      font-size: 12px;
    }
  }