.registerHeading {
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 900;
}
.loginHeading{
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
  font-family: Poppins;
  text-transform: uppercase;
  font-weight: 900;
}
.form {
  font-family: Poppins;
  text-transform: uppercase;
}
.background-image-slide{
  background-image:url("https://c.tenor.com/F4-i1leMvrUAAAAd/dunk-slam-dunk.gif");
  background-image: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}
.carousel{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.register-form-card{
  background-color: #f0f8ffbf;
  border-radius: 25px;
}
.login-form-card{
  background-color: #f0f8ffbf;
  border-radius: 25px;
}
.slam-dunk{
  height: 2000px;
  background-image: url("https://www.gannett-cdn.com/-mm-/dfff082d1e4931b30569ae37195b6862a6a8ef8a/c=0-361-2915-2008/local/-/media/2018/05/22/USATODAY/USATODAY/636625868623447717-AP-APTOPIX-Heat-Bucks-Basketball-39255807.JPG");
}
@media (min-width: 320px) and (max-width: 680px){
  .slam-dunk{
    height: 1000px;
    background-size: cover;
    background-image: url("https://www.gannett-cdn.com/-mm-/dfff082d1e4931b30569ae37195b6862a6a8ef8a/c=0-361-2915-2008/local/-/media/2018/05/22/USATODAY/USATODAY/636625868623447717-AP-APTOPIX-Heat-Bucks-Basketball-39255807.JPG");
  }
  
}
