.forum-container{
    margin: 100px;
    border-radius: 15px;
}
.forum-title{
    margin-top: -35px;
    font-size: 35px;
    font-family: Poppins;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 20px;   
}
.accordian-thread-title{
    font-size: 20px;
    font-family: Poppins;

}
.thread-comment-button{
    width: 200px;
    margin-bottom: 15px;
}
.accordian-title{
    border-radius: 10px;
}
.test{

}