.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  flex: auto;
}

.links {
  margin-top: 20px;
  margin-bottom: 20px;
}

.link {
  color: white;
  text-decoration: none;
  margin-right: 40px;
  text-transform: uppercase;
}

.link:visited {
  color: white;
}

.link:hover {
  color: greenyellow;
}

.logo {
  height: 75px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media(min-width: 320px) and (max-width: 680px) {
  .navbar{
    display: flex;
    flex-direction: column;
  }
  .links{
    display: none;
  }
  .menu-icon-drop-down{
    display: true;
  }
}
.menu-links{
  background-color: black;
}
.menu-links:hover{
  /* background-color: black; */
  background-color: none;
}
@media(min-width: 681px) and (max-width: 9999px){

  .menu-icon-drop-down{
    display: none;
  }
}
@media(min-width: 681px) and (max-width: 900px){
  .navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  }
}
.drop-down-selector{
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;

}