.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
}

.links {
  margin-top: 20px;
  margin-bottom: 20px;
}

.link {
  color: white;
  text-decoration: none;
  margin-right: 40px;
  text-transform: uppercase;
}

.link:visited {
  color: white;
}

.link:hover {
  color: greenyellow;
}

.logo {
  height: 75px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}